body,
html,
#app {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 625%;
}
body {
  font-size: .1rem;
  line-height: 1.15;
}

#app {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}